<ion-label class="custom-label input-label">{{ label }}</ion-label>
<div *ngIf="type === 'games'" class="carousel">
  <img (click)="goToDetail()" src="../../../assets/testImage.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage.png" alt="" />
</div>
<div *ngIf="type === 'tournaments'" class="carousel">
  <img (click)="goToDetail()" src="../../../assets/testImage2.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage2.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage2.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage2.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage2.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage2.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage2.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage2.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage2.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage2.png" alt="" />
</div>
