<ion-label class="custom-label input-label">{{ label }}</ion-label>
<div class="carousel">
  <img (click)="goToDetail()" src="../../../assets/testImage.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage.png" alt="" />
  <img (click)="goToDetail()" src="../../../assets/testImage.png" alt="" />
</div>
