<ion-label *ngIf="data?.length" class="custom-label input-label">{{
  label
}}</ion-label>
<div class="carousel" *ngIf="data">
  <ng-container *ngIf="!select">
    <img
      *ngFor="let elem of data"
      [src]="elem.base64"
      (click)="goToDetail(elem)"
    />
  </ng-container>
  <ng-container *ngIf="select">
    <img
      *ngFor="let elem of data"
      [src]="elem.base64"
      (click)="valueSelected(elem)"
      [class]="
        gameSelected === elem.id || gameSelected === null ? '' : 'img-filter'
      "
    />
  </ng-container>
</div>
