ion-title {
  font-family: Logo !important;
  font-size: 36px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--ion-color-primary);
  padding: 0;
  margin-left: 20px;
  margin-top: 20px;

  span {
    -webkit-text-stroke-width: 1px;
    font-size: 24px;
  }
}

ion-avatar {
  margin-right: 20px;
  max-width: 36px;
  max-height: 36px;
  margin-top: 20px;
  border: 1px solid var(--ion-color-primary);
}

.header-md::after {
  display: none;
}

ion-header {
  width: 100vw;
  margin-bottom: 30px;
}

ion-back-button {
  --padding-top: 20px;
}

.login-title {
  font-family: Logo !important;
  font-size: 52px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--ion-color-primary);
  margin-top: 52px;
  margin-left: 0;
}

.login-header {
  max-width: 421px;
}
