<ion-header *ngIf="loginPage" class="login-header">
  <ion-toolbar>
    <ion-title class="ion-text-center login-title">KUMITE.GG</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="!loginPage">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="backButton">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title
      >KUMITE.GG
      <span *ngIf="profile?.admin; else moderator">ADMIN</span></ion-title
    >
    <ion-avatar slot="end" (click)="goToProfile()">
      <img [src]="me?.base64" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ng-template #moderator><span>MOD</span></ng-template>
