ion-header {
  --border-style: none;
}

ion-header::after {
  content: none;
}

img {
  margin-left: 20px;
}

ion-grid {
  padding: 0;
}

ion-col {
  padding: 0;
}

.custom-label {
  margin-right: 20px;
  overflow: scroll;
  white-space: nowrap;
}

.custom-label::-webkit-scrollbar,
.stats-row::-webkit-scrollbar {
  background: transparent;
  display: none;
  width: 0;
}

.nickname-row {
  margin-top: 30px;
}

.stats-row {
  margin-top: 30px;
  overflow: scroll;
  white-space: nowrap;
}

.platforms-cell {
  margin-top: 30px;
  font-size: 20px;
}

ion-grid > ion-row {
  margin-bottom: 30px;
}

.relative {
  position: relative;
}

.favorite-icon {
  color: var(--ion-color-primary);
  background: var(--ion-background-input);
  font-size: 30px;
  position: absolute;
  left: 20px;
  padding: 5px;
}
